.container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.containerSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 60%;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.inputSearch {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  font-size: 14px;
}
.iconSearch {
  margin-right: 20px;
  color: #808080;
}
.inputSearch::placeholder {
  color: #808080;
}